@model Sporto_irangos_prekyba.Models.Miestas

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Miesto šalinimas"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class="entity-d" }) )
{
	@Html.AntiForgeryToken()

	<fieldset>
		<legend class="confirm-msg">Ar tikrai norite šalinti šį miestą?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.Miesto_id)</dt>
			<dd>@Html.DisplayFor(m => m.Miesto_id)</dd>

			<dt>@Html.DisplayNameFor(m => m.Pavadinimas)</dt>
			<dd>@Html.DisplayFor(m => m.Pavadinimas)</dd>
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="fail-msg">
				<i class="fa-solid fa-circle-exclamation"></i> Šio miesto pašalinti negalima, nes 
				jis turi ryšių į priklausomas esybes.
			</div>
		}
		else
		{
			<div class="buttons">
				<button
					formaction="@Url.Action("DeleteConfirm", new {id = Model.Miesto_id})"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Šalinti</button>
			</div>			
		}
	</fieldset>
}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>